#aboutme {
    font-family: 'Bubblegum', sans-serif;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: rgb(83, 177, 255);
}

#aboutmearea {
    width: 1000px;
    height: 100vh;
    text-align: center;
    border-right: 1px solid rgb(196, 196, 196);
    border-left: 1px solid rgb(196, 196, 196);
    background-color: rgb(255, 255, 255, 0.7);
}


#info {
    border-collapse: collapse; 
    display: inline-block;
    margin: 100px 0 70px 0;
    font-size: 15px;
    float: right;
}

#info td:nth-child(odd) {
    width: 100px;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}
#info td:nth-child(even) {
    width: 450px;
    padding: 20px;
    text-align: left;
}

#profile {
    width: 250px;
    border-radius: 50%;
    float: left;
    margin: 150px 30px 50px 80px;
}
