#aboutme {
    font-family: 'sbm', sans-serif;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: rgb(19, 19, 128);
    position: relative;
}

#aboutmearea {
    width: 1500px;
    height: 900px;
    text-align: center;
}

#aboutMeContent {
    justify-content: center;
    display: inline-block;
}

#profileAboutMe {
    float: left;
    margin: 80px 50px 0 20px;
}

#profileAboutMe img {
    width: 250px;
    border-radius: 50%;
}


#info {
    border-collapse: collapse; 
    margin: 50px 0 50px 0;
    font-size: 15px;
    width: 700px;
    right: 30px;
}

#info td:nth-child(odd) {
    width: 100px;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}
#info td:nth-child(even) {
    width: 450px;
    padding: 20px;
    text-align: left;
}



#firstinfo {
    font-size: 18px;
    margin-top: 30px;
    font-family: Noto;
    display: inline-block;
    color: gray;
}
