@font-face {
    font-family: 'Noto';
    src: url('font/NotoSansKR-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'sbm';
    src: url('font/sbm.ttf');
}

body {
    display: grid;
    place-items: center;
    font-family: 'Noto', sans-serif;
    width: 100%;
    margin: 0;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}

