@font-face {
    font-family: 'Cafe24';
    src: url('font/Cafe24Ssurround-v2.0.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KoPub Dotum';
    src: url('font/KoPub\ Dotum\ Light.ttf');
}

@font-face {
    font-family: 'Happiness';
    src: url('font/Happiness-Sans-Regular.ttf');
}

@font-face {
    font-family: 'Bubblegum';
    src: url('font/Bubblegum.ttf');
}

body {
    display: grid;
    place-items: center;
    font-family: 'Happiness', sans-serif;
    width: 100%;
    margin: 0;
    border: 1px solid rgb(187, 187, 187);
    background: linear-gradient(to bottom, rgba(117, 216, 255, 0.5), rgba(255, 254, 167, 0.5));
}
