@font-face {
    font-family: 'Cafe24';
    src: url('font/Cafe24Ssurround-v2.0.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KoPub Dotum';
    src: url('font/KoPub\ Dotum\ Light.ttf');
}


@font-face {
    font-family: 'Noto';
    src: url('font/NotoSansKR-VariableFont_wght.ttf');
}



@font-face {
    font-family: 'sbm';
    src: url('font/sbm.ttf');
}

body {
    display: grid;
    place-items: center;
    font-family: 'Noto', sans-serif;
    width: 100%;
    margin: 0;
}
