#contact {
  font-family: 'sbm', sans-serif;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: rgb(19, 19, 128);
}

#contactarea {
  width: 1000px;
  height: 100vh;
  text-align: center;
}
