body {
    font-family: 'Happiness', sans-serif;
    width: 1000px;
    margin:0 auto;
    border: 1px solid black;
}
#home {
    display: inline-block;
    align-items: center;
    width: 100%;
    height: 80vh;
}

