#home {
    width: 1000px;
    text-align: center;
    border-right: 1px solid rgb(196, 196, 196);
    border-left: 1px solid rgb(196, 196, 196);
    background-color: rgb(255, 255, 255, 0.7);
}

#name {
    font-family: Bubblegum;
    font-size: 130px;
    margin-top: 70px;
    color: #98DDCA;
}
#portfolio {
    font-family: Bubblegum;
    font-size: 90px;
    color:#FFAAA7;
}

#text {
    font-size: 40px;
    font-family: Noto;
}

hr {
    border: 1px dashed rgb(212, 212, 212); 
    width: 80%;
    margin-top: 50px;
}

#firstinfo {
    font-size: 15px;
    margin-top : 50px;
    font-family: Noto;
}

#blink {
    animation: blink 0.5s infinite;
    font-size: 40px;
    line-height: 1.5; 
  }
  
  @keyframes blink {
    to {
      opacity: 0;
    }
  }


#text_box {
    width: 100%;
    height: 150px;
    float: center ;
    text-align: center;
    margin-top : 50px;
    line-height: 1.5; 
}

#more {
    padding: 10px 20px;
    background-color:#FFAAA7;
    color: white;
    cursor: pointer;
    width: 100px;
    text-align: center;
    margin:0 auto;
    margin-top: 100px;
}