#project {
    font-family: 'Bubblegum', sans-serif;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #98DDCA;
}

#projectarea {
    width: 1500px;
    height: 100vh;
    text-align: center;
    align-items: center;
}

#projectbox{
    width: 900px;
    height: 400px;
    border: 1px solid black;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#projectimg img {
    height: 300px;
    float: left;
    margin-right: 30px;
}

#projecttotal {
    text-align: left;
}

#projecttitle {
    font-size: 30px;
    margin: 10px 50px 20px 50px;
    padding: 10px;
    border-bottom: 2px solid #000000;
}



#projectcontribution {
    margin-bottom: 10px;
    font-weight: 600;
}

#projectbox button {
    border: 1px solid #FFAAA7;
    width: 150px;
    height: 40px;
    background-color: white;
    margin: 20px;
    border-radius: 15px;
}

