#project {
    font-family: 'Bubblegum', sans-serif;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #98DDCA;
}

#projectarea {
    width: 1000px;
    height: 100vh;
    text-align: center;
    border-right: 1px solid rgb(196, 196, 196);
    border-left: 1px solid rgb(196, 196, 196);
    background-color: rgb(255, 255, 255, 0.7);
}
