#skills {
    font-family: 'Bubblegum', sans-serif;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #98DDCA;
}

#skillsarea {
    width: 1500px;
    height: 100vh;
    text-align: center;
}


hr {
    width: 80%; 
    margin: 50px auto; 
    border: 1px dashed rgb(212, 212, 212);
}

#skilltitle {
    font-size: 25px;
    font-family: Noto;
    margin: 30px 0 20px 0;
    font-weight: 500;
    color:#FFAAA7;
}

#skillbox {
  width: 350px;
  height: 700px;
  display: inline-block;
  margin: 50px 20px 20px 20px;
  vertical-align: top;
}

#skillelement img{
  width: 80px;
  margin: 10px;
}

#skillelement {
  height: 300px;
  width: 300px;
  margin-top: 20px;
}

#skilltotal {
  border:2px solid #FFAAA7;
  height: 550px;
  padding: 15px;
  border-radius: 20px;
}

#skillinfo ul {
  list-style-type: none; 
  padding: 0;
  text-align: left;
  line-height: 2;
}

#skillinfo li {
  font-size: 16px; 
  margin-bottom: 5px;
}


#skillinfo li::before {
  content: "•"; 
  color: #FFAAA7; 
  margin: 0 5px 0 5px; 
}
