#skills {
    font-family: 'Bubblegum', sans-serif;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #98DDCA;
}

#skillsarea {
    width: 1000px;
    height: 100vh;
    text-align: center;
    border-right: 1px solid rgb(196, 196, 196);
    border-left: 1px solid rgb(196, 196, 196);
    background-color: rgb(255, 255, 255, 0.7);
}


.card {
    display: inline-grid;
    color: rgb(255, 255, 255);
    transition: transform 0.3s;
    transform: perspective(800px) rotateY(0deg);
    transform-style: preserve-3d;
    background-color: rgb(255, 255, 255);
    font-family: Noto;
    font-size: 15px;
    margin:5px;
    border: 1px solid #FFAAA7;
}


  .card:hover {
    transform: perspective(800px) rotateY(180deg);
  }

  .card > * {
    grid-area: 1 / 1 / 1 / 1;
    width: 120px;
    height: 100px;
    padding: 5px;
    backface-visibility: hidden;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center; 
    
}

  .card-front {
    background-color: #FFAAA7;
  }

  .card-back {
    background-color: rgb(255, 255, 255);
    color: black;
    transform: rotateY(180deg);
  }
#overview {
    color: gray;
}

hr {
    width: 80%; 
    margin: 50px auto; 
    border: 1px dashed rgb(212, 212, 212);
}

#skilltitle {
    font-size: 20px;
    font-family: Noto;
    margin: 30px;
}