#skills {
    font-family: 'Bubblegum', sans-serif;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #98DDCA;
}

#skillsarea {
    width: 1000px;
    height: 100vh;
    text-align: center;
}


hr {
    width: 80%; 
    margin: 50px auto; 
    border: 1px dashed rgb(212, 212, 212);
}

#skilltitle {
    font-size: 20px;
    font-family: Noto;
    margin: 30px;
}

#frontendarea {
  width: 300px;
  height: 500px;
  border:1px solid black;
}