#title {
    font-family: 'KoPub Dotum', sans-serif;
    width: 60%;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    font-size: 40px;
    background-color: #87CEFA;
    color: azure;
}